@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav#top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba($color: #fff, $alpha: 1);
  padding: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  z-index: 999999999;

  #nav-open {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    padding: 0 1rem;

    @media screen and (min-width: 768px) {
      width: 2rem;
      height: 2rem;
      font-size: 2rem;
    }

    @media screen and (min-width: 1050px) {
      display: none;
    }
  }

  #nav-close {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    padding: 0 1rem;
    display: none;

    @media screen and (min-width: 768px) {
      width: 2rem;
      height: 2rem;
      font-size: 2rem;
    }

    @media screen and (min-width: 1050px) {
      display: none;
    }
  }

  #logo {
    font-size: 2.5rem;
    font-weight: 700;
    display: none;

    @media screen and (min-width: 768px) {
      display: initial;
    }
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 768px) {
      justify-content: space-evenly;
      width: 50%;
    }

    .active {
      font-weight: 700;
      color: #000;
    }

    li {
      list-style: none;
      font-size: 1.2rem;
      cursor: pointer;
      text-transform: capitalize;
      color: #605b5b;

      @media screen and (min-width: 768px) {
        font-size: 1.5rem;
      }

      &:hover {
        font-weight: 700;
        color: #000;
      }
    }
  }

  #icons {
    display: flex;
    gap: 2rem;
    color: #b2b2b2;

    #search {
      display: none;

      @media screen and (min-width: 1050px) {
        display: flex;
      }
    }

    .icon {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.5rem;
      cursor: pointer;

      input {
        width: 10rem;
      }
    }
  }
}

#banner {
  width: 100%;
  height: 10rem;

  @media screen and (min-width: 1050px) {
    height: 20rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

section#main {
  position: relative;
  width: 100%;
  padding: 3rem 0;
  display: flex;
  gap: 2rem;

  @media screen and (min-width: 1050px) {
    width: 100rem;
  }

  #side-bar {
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    background: #fff;
    overflow-y: auto;
    position: fixed;
    top: 2rem;
    left: -100%;
    padding: 3rem;
    transition: 0.2s;

    @media screen and (min-width: 768px) {
      left: -25rem;
      width: 25rem;
      overflow-y: hidden;
    }

    @media screen and (min-width: 1050px) {
      left: 0;
      position: initial;
      display: flex;
    }

    nav#filters {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .filter {
        width: 100%;

        h2 {
          margin-bottom: 2rem;
        }
      }

      #filter-categories {
        width: 100%;

        ul {
          li.categories {
            list-style: none;
            font-size: 1.5rem;
            text-transform: capitalize;
            margin: 1rem 0;
            cursor: pointer;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            .active {
              font-weight: 700;
            }

            #header {
              display: flex;
              justify-content: space-between;
              span.filter-chevron {
                font-size: 1.2rem;
              }
            }

            ul.dropdown {
              cursor: default;
              width: 100%;

              li.dropdown-categories {
                list-style: none;
                text-indent: 2rem;
                margin: 1rem 0;
                width: 100%;
                cursor: pointer;
              }
            }
          }
        }
      }

      #filter-price {
        #price {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 2rem;

          input {
            width: 100%;
            text-align: center;
          }
        }
      }

      #filter-size {
        ul {
          display: flex;
          justify-content: space-between;

          .active {
            background: #bc8449;
            color: #fff;
          }

          li {
            font-size: 1.2rem;
            list-style: none;
            border-radius: 50%;
            background: #f1f1f1;
            width: 3rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }

      #filter-color {
        ul {
          display: flex;
          justify-content: space-between;

          .active {
            border: 0.2rem solid red;
          }

          li {
            list-style: none;
            cursor: pointer;
            padding: 0.2rem;
            border-radius: 50%;

            #bg {
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
            }

            &:nth-of-type(1) {
              #bg {
                background: blue;
              }
            }
            &:nth-of-type(2) {
              #bg {
                background: green;
              }
            }
            &:nth-of-type(3) {
              #bg {
                background: red;
              }
            }
            &:nth-of-type(4) {
              #bg {
                background: orange;
              }
            }
            &:nth-of-type(5) {
              #bg {
                background: black;
              }
            }
            &:nth-of-type(6) {
              #bg {
                background: gray;
              }
            }
            &:nth-of-type(7) {
              #bg {
                background: yellow;
              }
            }
          }
        }
      }

      #filter-brand {
        ul {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;

          li {
            list-style: none;
            font-size: 1.5rem;
            cursor: pointer;
            padding: 0.5rem;
            background: rgba($color: #22cf5c, $alpha: 0.1);
            border-radius: 0.5rem;
          }
        }
      }
    }

    #feat-products {
      width: 100%;

      h2 {
        margin-bottom: 2rem;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        li {
          display: flex;
          gap: 1rem;
          //   background: #f1f1f1;
          padding: 0.5rem;
          cursor: pointer;

          #img {
            width: 5rem;
            height: 5rem;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          #prod-info {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            #prod-name {
              font-size: 1.2rem;
            }
            #prod-price {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }

  #main-display {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 100%;

    #products-display {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: space-evenly;

      .product {
        cursor: pointer;
        width: 45%;

        @media screen and (min-width: 768px) {
          width: 30%;
        }

        @media screen and (min-width: 1050px) {
          width: calc(25% - 2rem);
        }

        #prod-img {
          width: 100%;
          height: 25rem;
          overflow: hidden;

          &:hover {
            img {
              transform: scale(1.1);
            }
          }

          img {
            transition: 1s;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        #prod-info {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          padding: 0.5rem 0;

          #prod-name {
            color: #605b5b;
            font-size: 1.5rem;
            text-transform: capitalize;
          }

          #prod-price {
            font-size: 2rem;
            font-weight: 700;
          }
        }
      }
    }

    .separator {
      width: 100%;
      height: 0.2rem;
      color: #605b5b;
    }

    #pagination {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0 2rem;

      @media screen and (min-width: 1050px) {
        padding: 0;
      }

      #pages {
        // width: 50%;
        ul {
          display: flex;
          gap: 2rem;

          .active {
            border: 0.2rem solid #000;
          }

          li {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            font-size: 1.2rem;
            // border-width: 700;
            width: 3rem;
            height: 3rem;
            border: 0.2rem solid #b2b2b2;
            color: #000;
            font-weight: 700;
            cursor: pointer;
          }
        }
      }

      #counter {
        // width: 50%;
        font-size: 1.5rem;
        color: #605b5b;
      }
    }
  }
}

section#subscription {
  border-top: 0.2rem solid #b2b2b2;
  border-bottom: 0.2rem solid #b2b2b2;
  width: 100%;
  padding: 3rem 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;

  @media screen and (min-width: 1050px) {
    width: 100rem;
  }

  h3 {
    font-size: 3.5rem;
    font-weight: 300;
    text-transform: capitalize;

    @media screen and (min-width: 768px) {
      font-size: 5rem;
    }
  }

  p {
    font-size: 1.5rem;
    width: 100%;
    max-width: 50rem;
    text-align: center;
    line-height: 2.2rem;

    @media screen and (min-width: 1050px) {
      width: 50rem;
    }
  }

  button {
    padding: 2rem 5rem;
    background: #fff;
    border: 0.2rem solid #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.1s;

    &:hover {
      color: #fff;
      background: #000;
    }
  }
}

footer {
  width: 100%;
  padding: 3rem 0;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 3rem;

  @media screen and (min-width: 1050px) {
    padding: 3rem 0;
  }

  #foot-holder {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;

    @media screen and (min-width: 768px) {
      gap: 2rem;
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 1050px) {
      width: 100rem;
    }

    #info {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      color: #b2b2b2;

      h3 {
        font-size: 3rem;
        text-transform: capitalize;
        color: #bc8449;
      }

      p {
        display: flex;
        gap: 2rem;
        font-size: 1.4rem;

        &:first-of-type {
          line-height: 2.2rem;
        }
      }
    }

    #links {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .foo {
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        h5 {
          color: #fff;
          font-size: 1.5rem;
          font-weight: 500;
          text-transform: capitalize;

          @media screen and (min-width: 768px) {
            font-size: 2rem;
          }
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 1.8rem;

          li {
            list-style: none;
            color: #fff;
            font-size: 1.2rem;
            text-transform: capitalize;
            cursor: pointer;

            @media screen and (min-width: 768px) {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }

  #social {
    ul {
      display: flex;
      gap: 5rem;

      li {
        color: #fff;
        list-style: none;
        font-size: 2rem;
        cursor: pointer;

        &:hover {
          color: lime;
        }
      }
    }
  }
}
